<body class="bg-slate-900 text-slate-200 font-sans antialiased selection:bg-violet-500/30">
    <div class="flex h-screen overflow-hidden">
        <%- include('../partials/sidebar.ejs') -%>
            <main class="flex-1 overflow-y-auto bg-slate-900 relative">

                <%- include('../partials/header.ejs') -%>


            </main>
    </div>
</body>