<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
</head>

<body class="vh-100 vw-100">
	<section class="vh-100 w-100" style="background-color: #508bfc;">
		<div class="container py-5 h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-12 col-md-8 col-lg-6 col-xl-5">
					<div class="card shadow-2-strong" style="border-radius: 1rem;">
						<form action="/admin/login" method="post" class="card-body p-5 text-center">

							<h3 class="mb-5">Sign in</h3>

							<div data-mdb-input-init class="form-outline mb-4">
								<input type="email" required id="typeEmailX-2" class="form-control form-control-lg" placeholder="Email" name="email"/>
							</div>

							<div data-mdb-input-init class="form-outline mb-4">
								<input type="password" required min="8" id="typePasswordX-2" class="form-control form-control-lg" placeholder="Password" name="password"/>
							</div>

							<button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block"
								type="submit">Login</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>