<meta charset="utf-8" />
<meta content="width=device-width, initial-scale=1" name="viewport" />
<title>GameCenter</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">