:root {
  --primary: #0F172A;
  --secondary: #06B6D4;
  --border: #1D2735;
  --gray: #334155;
  --black: #000;
  --gray-dark: #18181B;
  --red: #F43F5E;
  --gray-border: #3F3F46;
  --gray-light: #6B7280;
  --white: #f8fafc;
  --red-dark: #991B1B;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--primary);
  color: var(--text-main);
}

.app-container {
  height: 100vh;
  width: 100vw;
  background-color: var(--primary);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
