:root {
  --primary: #0F172A;
  --secondary: #06B6D4;
  --border: #1D2735;
  --gray: #334155;
  --black: #000;
  --gray-dark: #18181B;
  --gray-border: #3F3F46;
  --gray-light: #6B7280;
  --white: #f8fafc;
  --red: #DC2626;
  --red-dark: #991B1B;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--primary);
  color: var(--text-main);
}

.app-container {
  height: 100vh;
  width: 100vw;
  background-color: var(--primary);
}